@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;1,300&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

.MilyLogo{
  width: 100px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {

}
